.match {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .match-details {
    border: 1px solid gray;
    border-radius: 0.5em;
    overflow: hidden;
  
    display: flex;
    flex-direction: column;
    width: 15em;

    > .contestant[data-position="bottom"] {
      border-top: 1px solid gray;
    }
  }
}